<!DOCTYPE HTML>
<html th:replace = "~{base :: parent(~{::#container}, ~{::title}, ~{::script})}">
<head>
    <title>About Page</title>
</head>
    
<body>
    <div id="container">
        <h1>This is About Page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam odit quidem ullam fuga maxime eaque nesciunt enim unde voluptatum, ipsum, ad sapiente accusantium voluptatibus voluptates hic soluta aut! Quasi possimus dicta aliquid cumque illo! Deleniti asperiores maxime libero iure dolorem ipsum voluptates perferendis obcaecati, facilis totam ad accusamus adipisci voluptate!</p>

    </div>
    <script></script>
</body>
</html>

